<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <!-- <link rel='shortcut icon' href='assets/favicon.ico' type='image/x-icon'/ > -->
    <!--Import Google Icon Font-->
    {{!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> --}}
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="public/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="public/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="public/css/volunteer.css"/>
    <link type="text/css" rel="stylesheet" href="public/css/ride.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    
    <title>IRC | RideBuddy</title>
  </head>
  
  <body>
		{{{ body }}}

		<!-- jQuery Libraries, requires jQuery before materialize.js -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="public/js/materialize.min.js"></script>
    <script type="text/javascript" src="public/js/main.js"></script>

	</body>

</html>