{{!-- <nav> --}}
<nav class="top-nav">
	<div class="container">
		<div class="row">
			<div class="col m10 offset-m2">
				<ul>
					<a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only "><i class="material-icons">menu</i></a>
					<li><a href="#!">First Sidebar Link</a></li>
		    	<li><a href="#!">Second Sidebar Link</a></li>
			  </ul>
		  </div>
	  </div>
	</div>
</nav>
	  <ul id="slide-out" class="side-nav fixed">
	    <li><a href="#!">First Sidebar Link</a></li>
	    <li><a href="#!">Second Sidebar Link</a></li>
	  </ul>


{{!-- <div id="caseworker-page">

	<div class="row">
		<nav>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
		<div id="caseworker-notification-panel" class="col m3">
			left bar
		</div>

		<div id="caseworker-ride-container" class="col m9">
			right section
		</div>
		
	</div>



</div> --}}