<div id="volunteer-page">
	<div class="row header">
		<h5 class="brand-logo center header-title">Volunteer a Ride</h5>
	  <div class="col s12">
	    <ul class="tabs">
	      <li class="tab col s4"><a class="active" href="#volunteerRide">VOLUNTEER</a></li>
	      <li class="tab col s4"><a href="#upcomingRide">UPCOMING</a></li>
	      <li class="tab col s4"><a href="#myProfile">PROFILE</a></li>
	    </ul>
	  </div>
	</div>
  <div id="volunteerRide" class="col s12">
  	<div class="row">
      <div class="col s12 m12 l6 offset-l3">
        <div class="card white darken-1">
          <div class="card-content dark-text">
            <div class="volunteer-card-title-container">
            	<span class="volunteer-card-title">June 6 at 3:30 PM</span>
            	<div class="volunteer-card-title-duration-container">
            		<i class="material-icons volunteer-ride-duration-icon irc-yellow">schedule</i>
            		<div class="volunteer-ride-duration-label-container">
            			<span class="volunteer-ride-duration-label">DURATION</span>
            			<span class="volunteer-ride-duration">2 hrs</span>
            		</div>
            	</div>
            </div>
            <br>

            <div class="row">
            	<div class="col s11 push-s1">
	            	<span class="card-location-label">PICKUP LOCATION</span>
	            	<p class="card-location"><span style="text-align: left;">San Jose</span><span class="time-float-right">3:30pm</span></p>
	            	<p class="secondary-text">1210 S Bascom Ave, San Jose</p>
	            </div>

            	<div class="col s1 pull-s11">
            		<div class="circle"></div>
            		<div class="dotted-vert-line"></div>
            	</div>
            </div>

            <div class="row">
            	<div class="col s11 push-s1">
	            	<span class="card-location-label">DROPOFF LOCATION</span>
	            	<p class="card-location"><span style="text-align: left;">San Jose</span><span class="time-float-right">4:00pm</span></p>
	            	<p class="secondary-text">333 W Julian St, Palo Alto</p>
	            </div>

            	<div class="col s1 pull-s11">
            		<div class="circle"></div>
            	</div>
            </div>
          </div>
          <div class="row card-action">
          	<div class="col s6 card-action-button card-action-primary-button">
            	<a href="#">ACCEPT</a>
            </div>
            <div class="col s6 card-action-button card-action-secondary-button">
            	<a href="/ride?=132">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div id="upcomingRide" class="col s12">UpcomingRide Page</div>
  <div id="myProfile" class="col s12">MyProfile Page</div>
</div>
        